body {
  margin: 0;
  background: #001821;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
 
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1141px;
}

.container {
  margin: 0 auto;
  width: 1141px;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  color: #060606;
  margin-top: 0;
  margin-bottom: 27px;
  line-height: 27px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

