.footer-container__content {
  border-top: 1px solid #192F37
 }

.footer {
  min-height: 146px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--aligh--right {
  align-items: flex-end;
}