.form__row {
  display: flex;
  margin-bottom: 26px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  padding-left: 24px;
  border-radius: 5px;
  border: none;
  background: #ffffff;
  height: 65px;
  font-size: 18px;
  color: #1A1B1E;
  outline: none;
}

.form__input:focus {
 border: 1px solid #F5170E;
}


.form__input::placeholder {
  color: #666666;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input--textarea {
  height: 235px;
  color: #666666;
  padding-top: 31px;
  resize: none;
}
