.main-page-wrapper {
  background: url("../../images/background/1.png") center top no-repeat, url("../../images/background/2.png")right bottom no-repeat;
  
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 532px;
}

.hero__text-section {
  width: 50%
}

.hero {
  margin-bottom: 246px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 24px;
}

.hero__text {
  font-size: 18px;
  margin-bottom: 29px;
}