.middle-line {
  background: url("../../images/middle-line/middle-line.png"); 
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.middle-line__content {
  display: flex;

}

.middle-line__title {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
  font-size: 48px;
  font-weight: bold;
  max-width: 54%;
  line-height: 1.3;
}
