.offers {
  margin-bottom: 123px;
}

.offers__title {
font-size: 36px;
font-weight: bold;
font-style: normal;
margin-bottom: 21px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.hot-tours__icon {
  margin-left: 16px;
  vertical-align: middle;
}

.offers__item-card {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  background: #fff;
  border-radius: 5px;
  width: calc(100% / 3 - 18px);
}

.offers__feature-card {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: #666666;
}
.offers__feature-card:last-child {
  margin: 0;
}

.offers__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 28px 27px 27px 23px;
  color: #303030;
}

.offers__subtitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  color: #000;
}

.offers__feature {
  display: flex;
  margin-bottom: 27px;
}

.offers__feature:last-child {
  margin-right: 0;
}

.offers__feature-icon {
  display: flex;
  vertical-align: middle;
  margin-right: 14px;
}

.offers__feature-desc {
  color: #060606;
  font-size: 14px;
  margin-bottom: 27px;
}

.offer__button-wrapper {
  margin-top: auto;
}