.page-content {
  background: #ffffff;
  padding: 101px 0 90px;
}

.services {
  margin-bottom: 15px;
}

.service {
  display: flex;
  padding-bottom: 50px;

}

.service:hover .button_type_second {
    background: #F5170E;
    color:  white;
    transition: 1s;
}

.service__img {
  width: 40%;
  margin-right: 5%;
}

.service__content {
  flex: 1;
  padding: 8px 0 10px;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin-bottom: 31px;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 33px;
}