
/*.socials {
  margin-right: 70px;
  display: inline-block;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item :last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.social__item {
  text-decoration: none;
  width: 36px;
  height: 36px;
  position: relative;
  vertical-align: middle;
  margin-right: 6px;
}

.social__icon:hover {
  filter: brightness(2.5);
}
*/

.socials {
  display: flex;
  margin-right: 72px;
}

.socials__link {
  display: inline-block;
  background: url(../../images/sprite.png) no-repeat;
  height: 36px;
  width: 36px;
  margin-left: 12px;

}

.socials__item--icon--telegram .socials__link {
  background-position: -6px -246px;;
}
.socials__item--icon--telegram .socials__link:hover {
  background-position: -6px -198px;
}
.socials__item--icon--vk .socials__link {
  background-position: -6px -342px;
}
.socials__item--icon--vk .socials__link:hover {
  background-position: -6px -294px
}
.socials__item--icon--fb .socials__link {
  background-position: -6px -54px;
}
.socials__item--icon--fb .socials__link:hover {
  background-position: -6px -6px
}
.socials__item--icon--insta .socials__link {
  background-position: -6px -150px
}
.socials__item--icon--insta .socials__link:hover {
  background-position: -6px -102px
}